:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --tertiary-color: #272142;
  --heading-font-family: "Merriweather", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 42px;
}

p {
  color: var(--tertiary-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--tertiary-color);
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.project-description {
  padding: 50px 15px;
}

.headshot-img {
  border-radius: 12px;
  margin-top: 60px;
}

.logo {
  max-height: 50px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0 20px;
}

.contact-box {
  background: var(--secondary-color);
  padding: 30px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  font-size: 18px;
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 10px 16px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.github-repository a {
  text-decoration: none;
  color: black;
}

.github-repository a:hover {
  color: var(--branding-color);
}

@media (max-width: 992px) {
  h1,
  .content h1 {
    font-size: 44px;
    line-height: 56px;
  }

  .content,
  .project-description {
    text-align: center;
    padding: 0;
  }

  .content-container {
    padding: 40px 20px 0;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  nav a {
    font-size: 16px;
  }

  .logo {
    max-height: 40px;
  }

  .hero p {
    line-height: 1.25;
  }

  .content {
    margin: 30px auto;
  }

  .headshot-img {
    display: block;
    margin: 0 auto;
  }

  .github-repository {
    font-size: 14px;
  }
}
